.colorpickerContainer {
  width: 360px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #252525;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 9999;
  display: none;
  box-sizing: border-box;
}
.colorpickerContainer * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
.colorpickerContainer .tabs {
  width: 100%;
  float: left;
  height: 30px;
  line-height: 30px;
}
.colorpickerContainer .tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  height: 30px;
  line-height: 30px;
}
.colorpickerContainer .tabs ul li {
  padding: 0px 5px;
  width: auto;
  float: left;
  color: #eee;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-bottom: none;
}
.colorpickerContainer .tabs ul li.active {
  color: #09c;
}
.colorpickerContainer .pickers {
  width: 100%;
  float: left;
}
.colorpickerContainer .pickers .pickerContainer {
  width: 100%;
  float: left;
  display: none;
  padding: 10px;
  text-align: center;
}
.colorpickerContainer .pickers .pickerContainer.active {
  display: block;
}
.colorpickerContainer .pickers .pickerContainer#circle {
  text-align: center;
}
.colorpickerContainer .pickers .pickerContainer canvas {
  float: left;
  cursor: crosshair;
}
.colorpickerContainer .pickers .pickerContainer canvas.colorpickerCircle {
  border-radius: 100%;
  float: none;
  display: inline-block;
}
.colorpickerContainer .pickers .pickerContainer .value {
  width: 30px;
  height: 300px;
  float: left;
  position: relative;
}
.colorpickerContainer .pickers .pickerContainer .value .selectpreview {
  content: ' ';
  position: absolute;
  top: 0;
  left: 30px;
  width: 30px;
  height: 10px;
  display: none;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: 1px solid rgba(44, 30, 0, 0.59);
  border-left: none;
}
.colorpickerContainer .pickers .pickerContainer .value .colorselect {
  cursor: pointer;
}
.colorpickerContainer .pickers .pickerContainer .value .colorselect:hover + .selectpreview {
  display: block;
}
.colorpickerContainer .preview {
  float: left;
  width: 100%;
}
.colorpickerContainer .preview .colorPreview,
.colorpickerContainer .preview .colorSelected {
  width: 50%;
  height: 30px;
  float: left;
  background: transparent;
}
.colorpickerContainer .colors {
  color: #ffffff;
  width: 100%;
  float: left;
}
.colorpickerContainer .colors p {
  width: 100%;
  float: left;
}
.colorpickerContainer .colors p span:first-child {
  float: left;
}
.colorpickerContainer .colors p input:last-child {
  float: right;
}
/*# sourceMappingURL=colorpicker.css.map */