.colorpickerContainer {
    width: 360px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #252525;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
    }
    .tabs {
        width: ~"calc(100% - 20px)";
        float: left;
        height: 20px;
        line-height: 20px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            height: 20px;
            line-height: 20px;
            li {
                padding: 0px 5px;
                width: auto;
                float: left;
                color: #eee;
                height: 20px;
                line-height: 20px;
                cursor: pointer;
                border: 1px solid #636363;
                border-bottom-width: 0px;
                border-right-width: 0px;
                &.active {
                    color: #09c;
                }
                &:last-child{
                    border-right-width: 1px;
                }
            }
        }
    }
    .closePicker{
        width: 20px;
        height: 20px;
        line-height: 20px;
        background: #f40;
        color: #fff;
        font-size: 15px;
        float: left;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
    }
    .pickers {
        width: 100%;
        float: left;
        .pickerContainer {
            width: 100%;
            height: 320px;
            float: left;
            display: none;
            padding: 10px;
            text-align: center;
            &.active {
                display: block;
            }
            &#circle{
                text-align: center;
            }
            canvas {
                float: left;
                cursor: crosshair;
                &.colorpickerCircle {
                    border-radius: 100%;
                    float: none;
                    display: inline-block;
                }
            }
            .value {
                width: 30px;
                height: 300px;
                float: left;
                position: relative;
                .selectpreview {
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 30px;
                    width: 30px;
                    height: 10px;
                    display: none;
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    border: 1px solid rgba(44, 30, 0, 0.59);
                    border-left: none;
                }
                .colorselect {
                    cursor: pointer;
                    &:hover {
                        & + .selectpreview {
                            display: block;
                        }
                    }
                }

            }
        }
    }
    .preview {
        float: left;
        width:100%;
        .colorPreview,
        .colorSelected {
            width: 50%;
            height: 30px;
            float: left;
            background: transparent;
        }
    }
    .colors{
        color: #ffffff;
        width: 100%;
        float: left;
        p{
            width: 100%;
            float: left;
            margin: 5px 0px;
            span:first-child{
                float: left;
            }
            input:last-child{
                float: right;
            }
        }
    }
    .author{
        width: 100%;
        height: 20px;
        line-height: 20px;
        float: left;
        right: 0;
        margin-right: 20px;
        font-size: 13px;
        color: #ccc;
        margin-top: 5px;
        border-top: 1px solid #ccc;
        a{
            color: #eee;
        }
    }
}